<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.DingdanquerenMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Dingdanqueren">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="dingdanbianhao" property="dingdanbianhao" jdbcType="VARCHAR"/>
                                    <result column="dingdanxinxi" property="dingdanxinxi" jdbcType="VARCHAR"/>
                                    <result column="dingdanjine" property="dingdanjine" jdbcType="DECIMAL"/>
                                    <result column="guketiwen" property="guketiwen" jdbcType="DECIMAL"/>
                                    <result column="xiadanren" property="xiadanren" jdbcType="VARCHAR"/>
                                    <result column="jiedanbeizhu" property="jiedanbeizhu" jdbcType="VARCHAR"/>
                                    <result column="caozuoren" property="caozuoren" jdbcType="VARCHAR"/>
                                                    <result column="dingdanxinxiid" property="dingdanxinxiid" jdbcType="INTEGER"/>
                <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
            </resultMap>
    <sql id="Base_Column_List">
        id, dingdanbianhao, dingdanxinxi, dingdanjine, guketiwen, xiadanren, jiedanbeizhu, caozuoren, dingdanxinxiid, addtime    </sql>
    </mapper>
