<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.PeisongyuanMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Peisongyuan">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="gonghao" property="gonghao" jdbcType="VARCHAR"/>
                                    <result column="mima" property="mima" jdbcType="VARCHAR"/>
                                    <result column="xingming" property="xingming" jdbcType="VARCHAR"/>
                                    <result column="xingbie" property="xingbie" jdbcType="VARCHAR"/>
                                    <result column="zhaopian" property="zhaopian" jdbcType="VARCHAR"/>
                                    <result column="nianling" property="nianling" jdbcType="VARCHAR"/>
                                    <result column="peisongyuantiwen" property="peisongyuantiwen" jdbcType="DECIMAL"/>
                                    <result column="zhuangtai" property="zhuangtai" jdbcType="VARCHAR"/>
                                    <result column="lianxidianhua" property="lianxidianhua" jdbcType="VARCHAR"/>
                                    <result column="beizhu" property="beizhu" jdbcType="VARCHAR"/>
                                                <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
            </resultMap>
    <sql id="Base_Column_List">
        id, gonghao, mima, xingming, xingbie, zhaopian, nianling, peisongyuantiwen, zhuangtai, lianxidianhua, beizhu, addtime    </sql>
        <select id="login" resultMap="BaseResultMap" parameterType="com.spring.entity.Peisongyuan">
        select
        <include refid="Base_Column_List"/>
        from peisongyuan        where gonghao = #{gonghao}
        AND mima = #{mima}
    </select>
    </mapper>
